
<h1>Your Challenges</h1>

<div><p><%= link_to 'Create new challenge', new_challenge_path	 %></p></div>

<ul class="youridea">
    <% @user.challenges.each do |challenge| %>
      <br>
      <li>
        <%= link_to challenge.name, challenge_path(challenge.id) %>

         </li>
      <% end %>
    </ul>

    </div><!-- div.col-6, right hand column -->

    </div><!-- div.row -->
</div><!-- div.jumbotron -->


<h1>Solutions to completed challenges</h1>

<div><p><%= link_to 'Start new challenge', challenges_path	 %></p></div>


<ul class="yoursolutions">
    <% @user.solutions.each do |solution| %>
      <br>
      <li>
        <%= link_to "#{solution.challenge.name}", solution_path(solution.id) %>

         </li>
      <% end %>
    </ul>

    </div><!-- div.col-6, right hand column -->

    </div><!-- div.row -->
</div><!-- div.jumbotron -->
