
<h1>Your Challenges</h1>

<ul class="youridea">
    <% @user.challenges.each do |challenge| %>
      <br>
      <li>
        <%= link_to challenge.name, challenge_path(challenge.id) %>

         </li>
      <% end %>
    </ul>

    </div><!-- div.col-6, right hand column -->

    </div><!-- div.row -->
</div><!-- div.jumbotron -->
