<h2>All Challenges</h2>
<% if @current_user.present? %>
<%= link_to 'Add New Challenge', new_challenge_path %>
<% end %>

<ul>
  <% @challenges.each do |challenge| %>
    <li>
     <%= link_to challenge.name, challenge_path(challenge.id)  %>
    </li>
  <% end %>
</ul>
