<div class="grid-Container">
  <div class="challenge-info">

  </div>
  <div class="ins-n-outs">

  </div>
  <div class="code-textarea">
    <%= render partial: 'form' %>
  </div>
  <div class="errors">

  </div>
  <button type="button" name="button" onClick='on_click()'>Run Code</button>
</div>
