// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formDesc {
  width: 50%;
  height: 80px;
}

.challContainer{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.challGridItem1{
  // border: 1px red solid;
  margin-left: 20%
}
.challGridItem2{
  margin-left: 20%
  // border: 1px red solid;
}
.challGridItem3{
  margin-left: 20%
  // border: 1px red solid;
}

.btn btn-primary {
  width: 50%;
}

.btn btn-primary btn-lg btn-block {
  color: white;
}


.card border-primary mb-3{
  margin-left: 50%
}

.lol {
  margin-left: 35%
}

.mb-3{
  text-align: center;
}


.challengeName{
  list-style-type: none;
}


#challenge_name{
  width: 50%;
}


.yesform-control{
  width: 0;
}

.buttons {
  margin-left: 34%;
}
