.loginF {
  text-align: center;
}


.loginP{
  text-align: center;
  color: white;
}


.form-control {
  width: 45%;
  margin-left: 30%
}

.jumbotron-login {
  width:50%
}

.jumbotron {
  margin-left: 25%;
}
